.info{
    display: flex;
    width: 90%;
    margin: 30px auto 0;
    justify-content: space-around;
}

.gallery{
    width: 90%;
    margin: 0 auto;
}

.videoGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video{
    width: 23%;
    min-width: 270px;
}

.video >video{
    max-width: 100%;
    height: 180px;
}