.navbar__user{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0px;    
    width: 100%;
    background-color: #516169;
    position: fixed;
    top: 0;
    z-index: 100;

    /* position: fixed;
    width: 100%; */
}

.list{
    display: flex;
    list-style: none;
}

.searchBar{
    width: 40%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.icon{
    background-color: #ffffff;
    color: black;
    border-radius: 3px;
    font-size: 20px;
    margin-right: 3px;
    padding: 3px;
    cursor: pointer;
}

.navbar__search{
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
    padding: 5px 5px;
    color: black;
}

.item{
    width: 15%;
    cursor: pointer;
}

.logoGG{
    max-width: 30px;
}

.logoContainer{
    display: flex;
    width: 15%;
    justify-content: center;
    min-width: 130px;
}

.logoContainer >a{
    text-decoration: none;
    color: #0071ea;
}

.logo__home{
    display: flex;
    align-items: center;
}